[submodule "docs/_themes"]
	path = docs/_themes
	url = git://github.com/lepture/flask-sphinx-themes.git
[submodule "init/licenses"]
	path = init/licenses
	url = git://github.com/init-template/licenses.git
